{% extends 'check/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
	<h3>Welcome {{ user.username }}</h3>
		{% if state %}
		<!-- if checked in display log out button -->
		<div class="formDiv">
			<form method="post" action="{% url 'checkOut' %}">
				{% csrf_token %}
				<input id="checkOut" type="submit" name="submit" value="Check Out">
				
			</form>
		{% else %}
		<!-- if not checked in display check in button -->
		<div class="formDiv">
			<form method="post" action="{% url 'index' %}">
				{% csrf_token %}
				<input type="submit" name="submit" value="Check In">
							
			</form>
		</div>
		
		{% endif %}

	</div>
	{% else %}
	<!-- if not authenticated display nothing -->

	<p>
		You are not logged in
	</p>
	{% endif %}
{% endblock %}